<!DOCTYPE html>
<html lang="en">
    <%- partial('_partial/head') %>
    <body>
        <%- body %>

        <!-- 加载 js -->
        <% 
            var scripts = theme.js
            scripts.forEach(function(item) { 
        %>
            <script src="<%=item.src %>"></script>
        <% }) %>
    </body>
</html>
