<div class="c-list l-container">
    <!-- 所有文章列表 -->
    <% if (site.posts.length <= 0) { %>
        <p>博主加油！保持每月两篇高质量博文！！！</p>
    <% }  else { %>
        <p class="text-success">博主加油！已累计发布 <%= site.posts.length %> 篇文章 </p>
        <ul class="c-list__posts">
            <% site.posts.sort("date", "desc").each( function(post) { %>
                <li class="c-list__item">
                    <a href="<%= url_for(post.path) %>"><h4><%= post.title %></h4></a>
                </li>
            <% }) %>
        </ul>

    <% } %>
</div>