<div class="c-side">
    <div class="c-side__table">
        <ul>
            <% if (theme.menu.length > 0 ) { %>
                <% theme.menu.forEach(function(item){ %>
                    <% 
                        var menuName = 'menu.' + item.id
                        var link = item.link
                    %> 
                    <li>
                        <a class="js-touch" href="<%= link %>"><%= __(menuName) %></a>
                    </li>
                <% }) %>
            <% } %>
        </ul>
    </div>
</div>

<div class="c-action js-action">
</div>